.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-light);
}

.main {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .main {
    width: 100%;
    overflow-x: hidden;
  }
}