.icon {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 10px;
    width: 95px;
    height: 95px;
    opacity: 0.15;
}

@keyframes iconRotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.iconSpin {
    animation: iconRotate 2s linear infinite;
}



